.navbar{
    background-color: rgb(46, 0, 249);
    overflow: hidden;
    
}
.navbar a{
    float: left;
     color:black;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 29px; 
}

.navbar a:hover{
    color: aquamarine;
    font-size: 32px;
}